<a href="https://colab.research.google.com/github/srilakshmi-saladi/bdaassignment/blob/main/srilakshmibda1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

String manipulation

In [13]:

print("A: String Manipulation")


input_str = input("Enter the string (e.g., Python): ")


char_list = list(input_str)

if len(char_list) >= 2:
    char_list = char_list[:-2]
else:
    print("Input is too short to remove last two characters.")


char_list.reverse()


print("Modified and reversed string:", ''.join(char_list))

A: String Manipulation
Enter the string (e.g., Python): srilu
Modified and reversed string: irs

Arithmetic Operations

In [14]:

print("B: Arithmetic Operations")


num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


print(f"\nAddition: {num1} + {num2} = {num1 + num2}")
print(f"Subtraction: {num1} - {num2} = {num1 - num2}")
print(f"Multiplication: {num1} * {num2} = {num1 * num2}")


if num2 != 0:
    print(f"Division: {num1} / {num2} = {num1 / num2}")
else:
    print("Division: Cannot divide by zero.")

B: Arithmetic Operations
Enter the first number: 10
Enter the second number: 5

Addition: 10.0 + 5.0 = 15.0
Subtraction: 10.0 - 5.0 = 5.0
Multiplication: 10.0 * 5.0 = 50.0
Division: 10.0 / 5.0 = 2.0

In [15]:
print("C: Replace 'python' with 'pythons' ")

sentence = input("Enter a sentence: ")


updated_sentence = sentence.replace("python", "pythons")


print("Updated sentence:", updated_sentence)

C: Replace 'python' with 'pythons'
Enter a sentence: python is easy to lean
Updated sentence: pythons is easy to lean

In [16]:

print("D: Grade Calculator")

score = float(input("Enter your class score (0–100): "))

if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    grade = 'Invalid'


if grade == 'Invalid' or score > 100:
    print("Invalid score. Please enter a number between 0 and 100.")
else:
    print(f"Your grade is: {grade}")

D: Grade Calculator
Enter your class score (0–100): 75
Your grade is: C

In [11]:
x = [23, 'Python', 23.98]


print(x)

types_list = []


for element in x:
    types_list.append(type(element))

print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [12]:

IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


print("Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)


IT_companies.update(['LinkedIn', 'Snapchat', 'Salesforce'])
print("After adding multiple companies:", IT_companies)


IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)


IT_companies.discard('NonExistentCompany')

union_set = A.union(B)
print("Union of A and B:", union_set)

intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)


print("Is A subset of B?", A.issubset(B))


print("Are A and B disjoint?", A.isdisjoint(B))

print("A union B:", A | B)
print("B union A:", B | A)


sym_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", sym_diff)


del A
del B


age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Apple', 'IBM', 'Oracle', 'Google', 'Microsoft', 'Twitter', 'Amazon', 'Facebook'}
After adding multiple companies: {'Twitter', 'IBM', 'Facebook', 'LinkedIn', 'Apple', 'Snapchat', 'Salesforce', 'Oracle', 'Amazon', 'Microsoft', 'Google'}
After removing IBM: {'Twitter', 'Facebook', 'LinkedIn', 'Apple', 'Snapchat', 'Salesforce', 'Oracle', 'Amazon', 'Microsoft', 'Google'}
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5